.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1900px;
  height: 80px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  z-index: 5;
  .navbar-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 5;
    .navbar__logo-name-container {
      flex-basis: 20%;
      height: 80%;
      z-index: 5;
      .navbar__logo-name-link {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        cursor: pointer;
        transition: .3s;
        &:hover {
          transform: scale(1.1);
          font-weight: 700;
        }
        .navbar__logo {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 10%;
          height: 80%;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 40px;
          color: $primaryFontColor;
          animation: spin-logo linear infinite 6s;         
        }
        .navbar__name-container {
          display: flex;
          flex-direction: column;
          flex-basis: 10%;
          padding-left: 5px;
          font-family: $primaryFontFamily;
          font-size: 15px;
          
          .navbar__name-part-I {
            color: $primaryFontColor;
            text-decoration: none;
          }
          .navbar__name-part-I {
            color: $primaryFontColor;
            text-decoration: none;
          }
        }
      }
    }

    .nav-menu {
      display: flex;
      flex-basis: 80%;
      height: 80%;
      justify-content: center;
      align-items: center;
      margin-right: 10px;      
      .nav-menu__item {
        display: flex;
        flex-basis: 23%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .nav-menu__link {
          font-size: 15px;
          color: white;
          text-decoration: none;
          letter-spacing: 1.5px;
          font-family: $primaryFontFamily;
          &:hover {
            border-bottom: 3px solid $primaryFontColor;
          }
        }
        .home-icon {
          font-size: 35px;
        }
        .text-link {
          color: white;
          text-decoration: inherit;
          border-bottom: 3px solid transparent;
          padding-bottom: 3px;
          transition: .3s;
          &:hover {
            color: white;
            border-bottom: 3px solid white;
          }
        }
      }
    }

    .searchbar-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-basis: 20%;
      margin-right: 10px;
      z-index: 5;
      @media (max-width: 767.98px) {
        display: none;
      }
      .searchbar__input {
        height: 40px;
        padding: 5px;
        font-size: 12px;
        font-family: $primaryFontFamily;
        background-color: lighten(black, 30%);
        color: white;
        &::placeholder {
          color: white;
        }
      }
      .searchbar__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        width: 30px;
        height: 30px;
        border: 1px solid white;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .burger-container {
      z-index: 5;
      .burger__icon {  
        display: none;
        font-size: 30px;
        color: cornflowerblue;
        cursor: pointer;
        @media (max-width: 900px) {
          display: block;
        }
      }
    }
  }
}

// BURGER MENU UL-CONTAINER
@media (max-width: 900px) {
  .navbar-container {
    position: relative;
    z-index: 5;
    display: flex;
    .navbar__logo-name-container {
      margin-right: 20px;
    }
    .searchbar-container {
      margin-right: 20px;
    }
    .burger-container {
      margin-right: 10px;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: -400px;
      left: 0;
      min-height: 350px;
      background-color: black;
      opacity: 0;
      transition: all .5s ease;
      z-index: 4;
      .nav-menu__item {
        padding: 5px;
        display: flex;
        width: 80%;
        height: 100%;
        z-index: 4;
        .nav-menu__link {
          display: flex;
          height: 100%;
          width: 80%;
          border-radius: 3px;
          justify-content: center;
          align-items: center;
          z-index: 4;
          &:hover {
            border-bottom: 3px solid $primaryFontColor;
            background-color: cornflowerblue;
          }
        }
      }
    }
  }
  
  .nav-menu.active {
    top: 80px;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 1;
  }
}