.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-image: url("../images/andromeda_1280.jpg");
  background-size: cover;
  .contact__main-title {
    @include main-title;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    @media (max-width: 320px) {
      font-size: 26px;
    }
  }
  .contact__main-subtitle {
    @include main-subtitle;
    color: white;
    padding: 0 5%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    @media (max-width: 320px) {
      font-size: 18px;
    }
  }

  .contact-wrapper {
    position: relative;
    display: flex;
    width: 80%;
    min-height: 280px;
    min-width: 260px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: $sectionSpaceBottom;
    padding: 10px;
    color: white;
    border: 1px solid $primaryFontColor;
    box-shadow: 10px 0 33px 0 rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(25px);
    @media (max-width: 1280px) {
      width: 90%;
    }
    @media (max-width: 1024px) {
      width: 80%;
      flex-direction: column;
    }
    .contact__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 200px;
      flex-basis: 30%;
      background-color: black;
      border-radius: 15px;
      padding: 40px;
      @media (max-width: 1024px) {
        align-items: center;
        padding: 25px;
      }
      @media (max-width: 540px) {
        align-items: flex-start;
        padding: 10px;
      }
      .contact__info-title {
        @include main-title;
        font-size: 22px;
        margin: 0;
        margin-bottom: 20px;
        color: #fff;
        padding: 0;
        text-align: start;
      }
      .contact__info-description {
        @include main-subtitle;
        font-size: 16px;
        margin: 0;
        margin-bottom: 20px;
        color: #fff;
        padding: 0;
        text-align: start;
      }
      .contact__info-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .info-item__icon {
          margin-right: 15px;
          font-size: 25px;
        }
        .info-item__data {
          font-family: $secondaryFontFamily;
          font-size: 14px;
        }
      }
      // socials
      .s-media {
        display: flex;
        align-items: center;
        .social-icon__link {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          margin-right: 20px;
          color: white;
          border-radius: 50%;
          background-color: transparent;
          width: 35px;
          height: 35px;
          transition: 0.4s;
          &:hover {
            background-color: lighten($color: black, $amount: 20%);
            color: #fff;
          }
        }
      }
    }
  }
}
