.form {
  flex-basis: 70%;
  .form__container {
    width: 100%;
    height: 100%;
    padding: 20px;
    .form-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr;
      gap: 10px 10px;
      width: 100%;
      height: 100%;
      @media (max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .single-item {
        width: 100%;
        @media (max-width: 767.98px) {
          margin-bottom: 10px;
        }
        &__name {
          grid-area: 1/1/2/2;
        }
        &__surname {
          grid-area: 1/2/2/3;
        }
        &__email {
          grid-area: 2/1/3/2;
        }
        &__message {
          grid-area: 2/2/4/3;
        }
        
        label, input {
          display: block;
          width: 100%;
          min-width: 200px;
          height: 30px;
          padding: 5px;
        }
        label {
          font-family: $secondaryFontFamily;
          letter-spacing: 1.6px;
          font-weight: 800;
        }
        input {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #fff;
          color: #fff;
          padding: 10px;
          letter-spacing: 1.6px;
          font-size: 13px;
          transition: .4s;
          &::placeholder {
            color: lighten($titleFontColor, 50%);
            font-family: $secondaryFontFamily;
          }
          &:hover {
            border-bottom: 2px solid black;
            background-color: rgba(255, 255, 255, .4);
            &::placeholder {
              color: #fff;
            }
          }
          &:focus {
            border-bottom: 2px solid $primaryFontColor;
            box-shadow: 1px 1px 1px 1px $primaryFontColor;
            outline: none;
          }
        }
        .message {
          font-family: $secondaryFontFamily;
          width: 100%;
          min-width: 200px;
          min-height: 100px;
          margin-bottom: 20px;
          padding: 5px;
          background-color: transparent;
          color: #fff;
          letter-spacing: 1.6px;
          transition: .4s;
          border: none;
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
          &::placeholder {
            color: lighten($titleFontColor, 50%);
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.4);
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            &::placeholder {
              color: #fff;
            }
          }
          &:focus {
            box-shadow: 1px 1px 1px 1px $primaryFontColor;
            border: none;
            outline: none;
            color: #fff;
          }
        }
        // errors
        .nameError, .surnameError, .emailError, .messageError {
          display: flex;
          align-items: center;
          transform: scale(0);
          height: 50px;
          width: 100%;
          background-color:  #fff;
          color: crimson;
          margin-top: 5px;
          margin-bottom: 5px;
          padding-left: 10px;
          border-radius: 6px;
          font-family: $secondaryFontFamily;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 1.6px;
        }
        .nameError.nameError-show, .surnameError.surnameError-show, .emailError.emailError-show, .messageError.messageError-show {
          transform: scale(1);
        }
      }
      
      .form__btn-container {
        grid-area: 3/1/4/2;
        .form__btn-submit {
          width: 150px;
          height: 50px;
          background-color: black;
          border: 1px solid $primaryFontColor;
          border-radius: 6px;
          color: $primaryFontColor;
          font-family: $secondaryFontFamily;
          font-weight: 500;
          letter-spacing: 1.6px;
          cursor: pointer;
          transition: .4s;
          &:hover {
            background-color: lighten($color: black, $amount: 10%);
            color: #fff;
          }
          &:focus {
            outline: none;
            border: none;
          }
        }

        .msg {
          display: none;
          height: 40px;
          width: 100%;
          color: green;
          margin: 40px auto;
          font-family: $secondaryFontFamily;
          font-weight: 500;
          letter-spacing: 1.6px;
        }
        .msg.msg-show {
          display: block;
        }
      }
    }  
  }
}

