.calc-math-wrapper {
  width: 50%;
  margin-top: 40px;
  margin-right: 5%;
  float: left;
  padding: 10px;
  background-color: rgb(214, 210, 210);
  border: 1px solid rgb(172, 171, 171);
  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .calc-math__title {
    margin-bottom: $titleMarginBottom;
    color: $titleFontColor;
    font-size: $titleFontSize;
    font-family: $secondaryFontFamily;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
  .calc-math__label {
    @include paragraph;
    display: block;
    text-align: center;
    font-weight: 700;
  }
  .calc-math__select {
    @include paragraph;
    width: 50%;
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
    &-3a {
      width: 95%;
    }
    &-3b {
      width: 95%;
    }
  }
  .calc-math__paragraph {
    @include paragraph;
      line-height: 180%;
    .celestialBody-info {
      font-weight: 700;
      font-size: 24px;
      color: $titleFontColor;
      margin: 0 6px;
      @media (max-width: 768px) {
        font-size: 19px;
      }
    }
  }
  .operation-panel {
    @include paragraph;
    font-weight: 700;
    line-height: 180%;
  }
}