.dropdown__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid $primaryFontColor;
  border-top: 0;
  background-color: #fff;
  z-index: 5;
  letter-spacing: 1.5px;
  &-items {
    max-height: 200px;
    overflow-y: auto;
  }
  &-search {
    display: block;
    width: 100%;
    border: 0;
    padding: 12px;
    outline: 0;
    background-color: $primaryFontColor;
    color: #fff;
    letter-spacing: 1.5px;
    &::placeholder {
      color: #fff;
    } 
  }
  &-item {
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid $paragraphFontColor;
    font-size: 14px;
    letter-spacing: 1.5px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background-color: darken($color: $primaryFontColor, $amount: 20%);
      color: white;
    }
    &.selected, &.selected:hover {
      background-color: $thirdFontColor;
      color: #fff;
      letter-spacing: 1.5px;
    }
  }  
}
