// cards
.cards__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .article-card {
    display: flex;
    min-height: 300px;
    max-width: 600px;
    min-width: 250px;
    margin-top: $imageSpaceTop;
    margin-bottom: $imageSpaceBottom;
    background-color: #ddd;
    border-radius: 4px;
    border: 1px solid #ddd;
    z-index: 2;
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
    @media (max-width: 991.98px) { 
      flex-direction: column;
      align-items: center;
      width: 100%;
      &:nth-child(2n) {
        flex-direction: column;
      }
    }
    .article-card__content {
      height: 100%;
      flex-basis: 50%;
      
      .article-card__title {
        height: 60px;
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        color: darken($primaryFontColor, 10%);
        font-family: $secondaryFontFamily;
        font-size: 22px;
        @media (max-width: 991.98px) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @media (max-width: 767.98px) {
          font-size: 20px;
          height: 80px;
        }
      }
      .article-card__description {
        height: 150px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color:$paragraphFontColor;
        letter-spacing: 1.6px;
        line-height: 170%;
        font-family: $secondaryFontFamily;
        font-size: $paragraphFontSize;
        @media (max-width: 991.98px) { 
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @media (max-width: 767.98px) {
          font-size: 12px;
        }
      }
      .article-card__button {
        display: block;
        width: 130px;
        height: 40px;
        color: white;
        font-family: $primaryFontFamily;
        background-color: darken($primaryFontColor, 10%);
        border: none;
        border-radius: 3px;
        padding: 2px;
        margin: 10px auto;
        transition: .4s;
        &:hover {
          cursor: pointer;
          background-color: darken($primaryFontColor, $amount: 20%);
        }
      }
    }
    .image-container {
      height: 100%;
      flex-basis: 50%;
      overflow: hidden;
      .article-card__image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: 1s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
}