.date-clock-latitude-longitude-container {
  top: 50px;
  right: 3%;
  flex-direction: column;
  .actual-date, .actual-time, .actual-longitude-latitude {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 90%;
    padding-left: 10px;
    color: greenyellow;
    @media (max-width: 480px) {
      font-size: 14px;
    }
    @media (max-width: 280px) {
      font-size: 11px;
    }
  }
  .actual-date {
    .actual-date__title {
      margin-right: 10px;
    }
    .date-spacing {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  .actual-time {
    .actual-time__title {
      margin-right: 10px;
    }
    .dots {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .actual-longitude-latitude {
    .latitude__value, .longitude__value {
      margin-left: 6px;
    }
    @media (max-width: 568px) {
      flex-direction: column;
    }
  }
  .actual-longitude-latitude > div {
    margin-right: 10px;
  }
}