* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

@-webkit-keyframes preload-logo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes preload-logo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes preload-loading-dots {
  to {
    right: -100%;
  }
}
@keyframes preload-loading-dots {
  to {
    right: -100%;
  }
}
@-webkit-keyframes spin-logo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-logo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero-container,
.articles,
.calculators,
.calc-1,
.calc-2,
.calc-3,
.gallery,
.contact,
.footer {
  width: 100%;
  min-height: calc(100vh - 80px);
}

.footer {
  align-items: stretch;
  justify-content: flex-end;
}

.preload {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease;
  z-index: 1000;
}
.preload__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  height: 80%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 140px;
  color: cornflowerblue;
  -webkit-animation: preload-logo linear infinite 6s;
          animation: preload-logo linear infinite 6s;
}
@media (max-width: 768px) {
  .preload__logo {
    font-size: 100px;
  }
}
.preload__info {
  margin-top: 40px;
  margin-bottom: 40px;
  color: cornflowerblue;
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
}
@media (max-width: 768px) {
  .preload__info {
    font-size: 18px;
  }
}
.preload__info span {
  position: relative;
}
.preload__info span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  background: #000;
  -webkit-animation: preload-loading-dots 3s steps(3, start) infinite;
          animation: preload-loading-dots 3s steps(3, start) infinite;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1900px;
  height: 80px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.navbar .navbar-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 5;
}
.navbar .navbar-container .navbar__logo-name-container {
  flex-basis: 20%;
  height: 80%;
  z-index: 5;
}
.navbar .navbar-container .navbar__logo-name-container .navbar__logo-name-link {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.navbar .navbar-container .navbar__logo-name-container .navbar__logo-name-link:hover {
  transform: scale(1.1);
  font-weight: 700;
}
.navbar .navbar-container .navbar__logo-name-container .navbar__logo-name-link .navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  height: 80%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: cornflowerblue;
  -webkit-animation: spin-logo linear infinite 6s;
          animation: spin-logo linear infinite 6s;
}
.navbar .navbar-container .navbar__logo-name-container .navbar__logo-name-link .navbar__name-container {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  padding-left: 5px;
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
}
.navbar .navbar-container .navbar__logo-name-container .navbar__logo-name-link .navbar__name-container .navbar__name-part-I {
  color: cornflowerblue;
  text-decoration: none;
}
.navbar .navbar-container .navbar__logo-name-container .navbar__logo-name-link .navbar__name-container .navbar__name-part-I {
  color: cornflowerblue;
  text-decoration: none;
}
.navbar .navbar-container .nav-menu {
  display: flex;
  flex-basis: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.navbar .navbar-container .nav-menu .nav-menu__item {
  display: flex;
  flex-basis: 23%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-container .nav-menu .nav-menu__item .nav-menu__link {
  font-size: 15px;
  color: white;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-family: "Orbitron", sans-serif;
}
.navbar .navbar-container .nav-menu .nav-menu__item .nav-menu__link:hover {
  border-bottom: 3px solid cornflowerblue;
}
.navbar .navbar-container .nav-menu .nav-menu__item .home-icon {
  font-size: 35px;
}
.navbar .navbar-container .nav-menu .nav-menu__item .text-link {
  color: white;
  text-decoration: inherit;
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
  transition: 0.3s;
}
.navbar .navbar-container .nav-menu .nav-menu__item .text-link:hover {
  color: white;
  border-bottom: 3px solid white;
}
.navbar .navbar-container .searchbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 20%;
  margin-right: 10px;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .navbar .navbar-container .searchbar-container {
    display: none;
  }
}
.navbar .navbar-container .searchbar-container .searchbar__input {
  height: 40px;
  padding: 5px;
  font-size: 12px;
  font-family: "Orbitron", sans-serif;
  background-color: #4d4d4d;
  color: white;
}
.navbar .navbar-container .searchbar-container .searchbar__input::-moz-placeholder {
  color: white;
}
.navbar .navbar-container .searchbar-container .searchbar__input:-ms-input-placeholder {
  color: white;
}
.navbar .navbar-container .searchbar-container .searchbar__input::placeholder {
  color: white;
}
.navbar .navbar-container .searchbar-container .searchbar__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar .navbar-container .searchbar-container .searchbar__icon:hover {
  cursor: pointer;
}
.navbar .navbar-container .burger-container {
  z-index: 5;
}
.navbar .navbar-container .burger-container .burger__icon {
  display: none;
  font-size: 30px;
  color: cornflowerblue;
  cursor: pointer;
}
@media (max-width: 900px) {
  .navbar .navbar-container .burger-container .burger__icon {
    display: block;
  }
}

@media (max-width: 900px) {
  .navbar-container {
    position: relative;
    z-index: 5;
    display: flex;
  }
  .navbar-container .navbar__logo-name-container {
    margin-right: 20px;
  }
  .navbar-container .searchbar-container {
    margin-right: 20px;
  }
  .navbar-container .burger-container {
    margin-right: 10px;
  }
  .navbar-container .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: -400px;
    left: 0;
    min-height: 350px;
    background-color: black;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 4;
  }
  .navbar-container .nav-menu .nav-menu__item {
    padding: 5px;
    display: flex;
    width: 80%;
    height: 100%;
    z-index: 4;
  }
  .navbar-container .nav-menu .nav-menu__item .nav-menu__link {
    display: flex;
    height: 100%;
    width: 80%;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
  .navbar-container .nav-menu .nav-menu__item .nav-menu__link:hover {
    border-bottom: 3px solid cornflowerblue;
    background-color: cornflowerblue;
  }

  .nav-menu.active {
    top: 80px;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 1;
  }
}
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: black;
  min-height: 400px;
  overflow: hidden;
  background-size: cover;
  font-family: "Orbitron", sans-serif;
  z-index: -2;
}
.hero-container video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: -1;
}
.hero-container .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.hero-container .hero-content .hero-content__title {
  color: white;
  margin: 30px auto;
  text-align: center;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .hero-container .hero-content .hero-content__title {
    font-size: 65px;
  }
}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .hero-container .hero-content .hero-content__title {
    font-size: 65px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .hero-container .hero-content .hero-content__title {
    font-size: 55px;
  }
}
.hero-container .hero-content .hero-content__subtitle {
  color: white;
  margin: 30px auto;
  font-weight: 400;
  text-align: center;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .hero-container .hero-content .hero-content__subtitle {
    font-size: 45px;
    line-height: 180%;
  }
}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .hero-container .hero-content .hero-content__subtitle {
    font-size: 45px;
    line-height: 180%;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .hero-container .hero-content .hero-content__subtitle {
    font-size: 40px;
    line-height: 180%;
  }
}
@media (max-width: 768px) {
  .hero-container .hero-content .hero-content__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .hero-container .hero-content .hero-content__subtitle {
    font-size: 18px;
  }
}

.date-clock-latitude-longitude-container {
  top: 50px;
  right: 3%;
  flex-direction: column;
}
.date-clock-latitude-longitude-container .actual-date, .date-clock-latitude-longitude-container .actual-time, .date-clock-latitude-longitude-container .actual-longitude-latitude {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 90%;
  padding-left: 10px;
  color: greenyellow;
}
@media (max-width: 480px) {
  .date-clock-latitude-longitude-container .actual-date, .date-clock-latitude-longitude-container .actual-time, .date-clock-latitude-longitude-container .actual-longitude-latitude {
    font-size: 14px;
  }
}
@media (max-width: 280px) {
  .date-clock-latitude-longitude-container .actual-date, .date-clock-latitude-longitude-container .actual-time, .date-clock-latitude-longitude-container .actual-longitude-latitude {
    font-size: 11px;
  }
}
.date-clock-latitude-longitude-container .actual-date .actual-date__title {
  margin-right: 10px;
}
.date-clock-latitude-longitude-container .actual-date .date-spacing {
  margin-left: 4px;
  margin-right: 4px;
}
.date-clock-latitude-longitude-container .actual-time .actual-time__title {
  margin-right: 10px;
}
.date-clock-latitude-longitude-container .actual-time .dots {
  margin-left: 8px;
  margin-right: 8px;
}
.date-clock-latitude-longitude-container .actual-longitude-latitude .latitude__value, .date-clock-latitude-longitude-container .actual-longitude-latitude .longitude__value {
  margin-left: 6px;
}
@media (max-width: 568px) {
  .date-clock-latitude-longitude-container .actual-longitude-latitude {
    flex-direction: column;
  }
}
.date-clock-latitude-longitude-container .actual-longitude-latitude > div {
  margin-right: 10px;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Orbitron", sans-serif;
}
.articles .articles_menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 0;
  width: 400px;
  min-width: 280px;
  max-height: calc(100vh - 80px);
  z-index: 3;
  background-color: #d6d2d2;
  border: 1px solid #a8a2a2;
  box-shadow: 5px 4px 10px -6px rgba(168, 162, 162, 0.76);
  overflow: auto;
}
@media (max-width: 575.98px) {
  .articles .articles_menu {
    width: 100%;
  }
}
.articles .articles_menu.open {
  background-color: black;
  border: 1px solid black;
  box-shadow: 5px 4px 10px -6px rgba(168, 162, 162, 0.76);
  color: #ccc;
}
.articles .articles_menu::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}
.articles .articles_menu::-webkit-scrollbar-thumb {
  background-color: cornflowerblue;
  outline: 1px solid cornflowerblue;
  border-radius: 20px 20px;
  padding: 5px;
}
.articles .articles_menu .burger {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.articles .articles_menu .burger.open {
  border: none;
  background-color: black;
  color: #ccc;
}
.articles .articles_menu .burger__title {
  display: block;
  flex-basis: 70%;
  text-align: center;
  margin-right: 15px;
  margin-left: 25px;
  font-size: 25px;
}
@media (max-width: 575.98px) {
  .articles .articles_menu .burger__title {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .articles .articles_menu .burger__title {
    font-size: 16px;
  }
}
.articles .articles_menu .burger__title .open {
  color: #ccc;
}
.articles .articles_menu .burger__icon {
  flex-basis: 20%;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .articles .articles_menu .burger__icon {
    font-size: 25px;
  }
}
.articles .articles_menu .burger__icon.open {
  color: #ccc;
}
.articles .articles-title-cards__container {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}
.articles .articles-title-cards__container .articles__titles-container {
  flex-basis: 60%;
}
.articles .articles-title-cards__container .articles__titles-container .main__title {
  margin-top: 25px;
  margin-bottom: 15px;
  color: #424242;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
  text-align: center;
}
.articles .articles-title-cards__container .articles__titles-container .articles__subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #424242;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.articles .articles-title-cards__container .articles__titles-container .articles__update-info {
  display: block;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  width: 100%;
  text-align: center;
}

.cards__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards__items .article-card {
  display: flex;
  min-height: 300px;
  max-width: 600px;
  min-width: 250px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ddd;
  border-radius: 4px;
  border: 1px solid #ddd;
  z-index: 2;
}
.cards__items .article-card:nth-child(2n) {
  flex-direction: row-reverse;
}
@media (max-width: 991.98px) {
  .cards__items .article-card {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .cards__items .article-card:nth-child(2n) {
    flex-direction: column;
  }
}
.cards__items .article-card .article-card__content {
  height: 100%;
  flex-basis: 50%;
}
.cards__items .article-card .article-card__content .article-card__title {
  height: 60px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  color: #3676e8;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
@media (max-width: 991.98px) {
  .cards__items .article-card .article-card__content .article-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .cards__items .article-card .article-card__content .article-card__title {
    font-size: 20px;
    height: 80px;
  }
}
.cards__items .article-card .article-card__content .article-card__description {
  height: 150px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #424242;
  letter-spacing: 1.6px;
  line-height: 170%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
@media (max-width: 991.98px) {
  .cards__items .article-card .article-card__content .article-card__description {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .cards__items .article-card .article-card__content .article-card__description {
    font-size: 12px;
  }
}
.cards__items .article-card .article-card__content .article-card__button {
  display: block;
  width: 130px;
  height: 40px;
  color: white;
  font-family: "Orbitron", sans-serif;
  background-color: #3676e8;
  border: none;
  border-radius: 3px;
  padding: 2px;
  margin: 10px auto;
  transition: 0.4s;
}
.cards__items .article-card .article-card__content .article-card__button:hover {
  cursor: pointer;
  background-color: #185bd3;
}
.cards__items .article-card .image-container {
  height: 100%;
  flex-basis: 50%;
  overflow: hidden;
}
.cards__items .article-card .image-container .article-card__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 1s;
}
.cards__items .article-card .image-container .article-card__image:hover {
  transform: scale(1.2);
}

.submenu__link {
  display: flex;
  color: cornflowerblue;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 18px;
  border-left: 4px solid black;
  background: black;
}
.submenu__link:hover {
  background: black;
  color: #ccc;
  border-left: 4px solid cornflowerblue;
  cursor: pointer;
}
.submenu__link .submenu__link-icon {
  font-size: 20px;
  -webkit-animation: spin-logo linear infinite 6s;
          animation: spin-logo linear infinite 6s;
}

.sidebar__link {
  height: 60px;
  padding: 5px 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 13px;
  border-left: 4px solid black;
  background: black;
}
.sidebar__link:hover {
  background: black;
  color: #ccc;
  border-left: 4px solid cornflowerblue;
  cursor: pointer;
}
.sidebar__link-dropdown-label {
  margin-left: 16px;
  letter-spacing: 1.5px;
}

.single-article {
  padding: 0 5%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}
.single-article .return-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin: 0 auto;
  margin-top: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}
.single-article .return-link:hover {
  transform: scale(1.1);
}
.single-article .return-link .return-icon {
  font-size: 30px;
  color: #424242;
  margin-right: 20px;
}
.single-article .return-link .return-em {
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  text-align: center;
}
.single-article__cathegory {
  margin: 40px auto;
  font-size: 20px;
  color: #424242;
}
.single-article__cathegory em {
  color: cornflowerblue;
}
.single-article__title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: #424242;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: cornflowerblue;
}
.single-article__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}
.single-article__author {
  display: block;
  text-align: center;
  margin: 40px auto;
}
.single-article__content {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: start;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 170%;
}

.calculators-wrapper {
  position: relative;
  min-height: calc(150vh - 80px);
}
.calculators-wrapper video {
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}
.calculators-wrapper .calculators-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 260px;
  overflow: hidden;
  background-size: cover;
  font-family: "Orbitron", sans-serif;
  z-index: 1;
}
@media (max-width: 780px) {
  .calculators-wrapper .calculators-container {
    display: block;
  }
}
.calculators-wrapper .calculators-container .calculators-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100vh - 60px);
}
@media (max-width: 780px) {
  .calculators-wrapper .calculators-container .calculators-content {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
}
.calculators-wrapper .calculators-container .calculators-content .calculators-content__title {
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-content__title {
    font-size: 56px;
    padding-bottom: 40px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-content__title {
    font-size: 50px;
  }
}
.calculators-wrapper .calculators-container .calculators-content .calculators-content__description {
  color: white;
  margin: 30px 5%;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 2px;
  text-align: center;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-content__description {
    font-size: 26px;
    padding-bottom: 40px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-content__description {
    font-size: 23px;
  }
}
@media (max-width: 780px) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-content__description {
    margin: 25px 5%;
    font-size: 12px;
  }
}
.calculators-wrapper .calculators-container .calculators-content .calculators-blocks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}
.calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block:hover {
  border: 1px solid #fff;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block {
    height: 400px;
    font-size: 30px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block {
    font-size: 23px;
  }
}
@media (max-width: 780px) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block {
    flex-basis: 90%;
    height: 140px;
    margin-bottom: 20px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block {
    height: 130px;
  }
}
.calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__title {
  text-align: center;
  margin: 20px auto;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__title {
    font-size: 30px;
  }
}
@media (max-width: 981px) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__title {
    font-size: 18px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__title {
    font-size: 23px;
  }
}
@media (max-width: 780px) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__title {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__description {
  text-align: center;
}
@media (max-width: 981px) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__description {
    font-size: 15px;
  }
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__description {
    font-size: 23px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__description {
    font-size: 20px;
  }
}
@media (max-width: 780px) {
  .calculators-wrapper .calculators-container .calculators-content .calculators-blocks .calc-block .calc-block__description {
    font-size: 13px;
  }
}

.calc-wrapper {
  padding: 0 5%;
}
.calc-wrapper .return-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin: 0 auto;
  margin-top: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}
.calc-wrapper .return-link:hover {
  transform: scale(1.1);
}
.calc-wrapper .return-link .return-icon {
  font-size: 30px;
  color: #424242;
  margin-right: 20px;
}
.calc-wrapper .return-link .return-em {
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  text-align: center;
}
.calc-wrapper .calc-item__title {
  margin-top: 25px;
  margin-bottom: 15px;
  color: #424242;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
  text-align: center;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .calc-wrapper .calc-item__title {
    font-size: 40px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .calc-wrapper .calc-item__title {
    font-size: 38px;
  }
}
.calc-wrapper .calc-item__description {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #424242;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .calc-wrapper .calc-item__description {
    font-size: 25px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .calc-wrapper .calc-item__description {
    font-size: 24px;
  }
}
.calc-wrapper .calc-panel {
  margin-top: 50px;
  margin-bottom: 50px;
}
.calc-wrapper .calc-panel .explanation-formulas {
  padding: 10px;
}
.calc-wrapper .calc-panel .explanation-formulas .chapter__title {
  margin-top: 25px;
  margin-bottom: 15px;
  color: #424242;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .calc-wrapper .calc-panel .explanation-formulas .chapter__title {
    font-size: 24px;
  }
}
.calc-wrapper .calc-panel .explanation-formulas .explanation {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: start;
  line-height: 180%;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .calc-wrapper .calc-panel .explanation-formulas .explanation {
    font-size: 25px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .calc-wrapper .calc-panel .explanation-formulas .explanation {
    font-size: 24px;
  }
}
.calc-wrapper .calc-panel .explanation-formulas .formula-big {
  display: block;
  margin: 10px auto;
}
@media (max-width: 380px) {
  .calc-wrapper .calc-panel .explanation-formulas .formula-magnitudo {
    width: 100%;
  }
}
.calc-wrapper .calc-panel .calculator-math {
  padding: 10px;
}

.calc-math-wrapper {
  width: 50%;
  margin-top: 40px;
  margin-right: 5%;
  float: left;
  padding: 10px;
  background-color: #d6d2d2;
  border: 1px solid #acabab;
}
@media (max-width: 768px) {
  .calc-math-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.calc-math-wrapper .calc-math__title {
  margin-bottom: 15px;
  color: #424242;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
@media (max-width: 768px) {
  .calc-math-wrapper .calc-math__title {
    font-size: 24px;
  }
}
.calc-math-wrapper .calc-math__label {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: start;
  display: block;
  text-align: center;
  font-weight: 700;
}
.calc-math-wrapper .calc-math__select {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: start;
  width: 50%;
  padding: 5px 10px;
  display: block;
  margin: 0 auto;
}
.calc-math-wrapper .calc-math__select-3a {
  width: 95%;
}
.calc-math-wrapper .calc-math__select-3b {
  width: 95%;
}
.calc-math-wrapper .calc-math__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: start;
  line-height: 180%;
}
.calc-math-wrapper .calc-math__paragraph .celestialBody-info {
  font-weight: 700;
  font-size: 24px;
  color: #424242;
  margin: 0 6px;
}
@media (max-width: 768px) {
  .calc-math-wrapper .calc-math__paragraph .celestialBody-info {
    font-size: 19px;
  }
}
.calc-math-wrapper .operation-panel {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: start;
  font-weight: 700;
  line-height: 180%;
}

.gallery {
  width: 100%;
  min-width: 250px;
  min-height: calc(100vh - 80px);
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}
.gallery .gallery__main-titles .gallery__title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: #424242;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .gallery .gallery__main-titles .gallery__title {
    font-size: 70px;
    margin-bottom: 50px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .gallery .gallery__main-titles .gallery__title {
    font-size: 60px;
  }
}
@media (max-width: 460px) {
  .gallery .gallery__main-titles .gallery__title {
    font-size: 30px;
  }
}
.gallery .gallery__main-titles .gallery__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .gallery .gallery__main-titles .gallery__subtitle {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .gallery .gallery__main-titles .gallery__subtitle {
    font-size: 35px;
  }
}
@media (max-width: 460px) {
  .gallery .gallery__main-titles .gallery__subtitle {
    font-size: 17px;
  }
}
.gallery .gallery__main-titles .gallery__subtitle:nth-child(1) {
  font-size: 16px;
}
.gallery .gallery__main-titles .pixabay-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .gallery__main-titles .pixabay-info .pixabay-link {
  display: block;
  width: 150px;
  margin-left: 40px;
  transition: 0.4s;
}
@media (max-width: 460px) {
  .gallery .gallery__main-titles .pixabay-info .pixabay-link {
    width: 100px;
    margin-left: 25px;
  }
}
.gallery .gallery__main-titles .pixabay-info .pixabay-link:hover {
  transform: scale(1.2);
}
.gallery .gallery__main-titles .pixabay-info .pixabay-link .pixabay-image {
  width: 100%;
}
.gallery .gallery__content-container {
  min-width: 250px;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .gallery .gallery__content-container {
    margin: 40px auto;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .gallery .gallery__content-container {
    margin: 20px auto;
  }
}
@media (max-width: 460px) {
  .gallery .gallery__content-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .gallery .gallery__content-container {
    padding: 10px 5%;
  }
}
.gallery .gallery__content-container .gallery__form {
  padding: 40px;
  color: #424242;
}
.gallery .gallery__content-container .gallery__form-group {
  margin-bottom: 20px;
}
.gallery .gallery__content-container .gallery__form-group:focus {
  outline: 0;
}
.gallery .gallery__content-container .gallery__form-group .dropdown-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.gallery .gallery__content-container .gallery__form-group .dropdown {
  position: relative;
  margin-top: 10px;
}
.gallery .gallery__content-container .gallery__form-group .dropdown__selected {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 20px 0 10px;
  font-size: 14px;
  border: 1px solid #424242;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.gallery .gallery__content-container .gallery__form-group .dropdown__selected::after {
  top: calc(50% - 2px);
  right: 10px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-top-color: #000;
  border-width: 4px;
  margin-left: -4px;
}
.gallery .gallery__content-container .gallery__form-group .dropdown__selected:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.gallery .gallery__content-container .gallery__form-error {
  font-size: 12px;
  padding: 5px 0;
  color: red;
}
.gallery .gallery__content-container .gallery__form .gallery__btn-submit {
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 10px 20px;
  background-color: cornflowerblue;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  color: #fff;
  border: 0;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  transition: 0.4s;
}
@media (max-width: 460px) {
  .gallery .gallery__content-container .gallery__form .gallery__btn-submit {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
}
.gallery .gallery__content-container .gallery__form .gallery__btn-submit:hover {
  background-color: #185bd3;
}
.gallery .photo-error {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .gallery .photo-error {
    font-size: 40px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .gallery .photo-error {
    font-size: 35px;
  }
}

.dropdown__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid cornflowerblue;
  border-top: 0;
  background-color: #fff;
  z-index: 5;
  letter-spacing: 1.5px;
}
.dropdown__menu-items {
  max-height: 200px;
  overflow-y: auto;
}
.dropdown__menu-search {
  display: block;
  width: 100%;
  border: 0;
  padding: 12px;
  outline: 0;
  background-color: cornflowerblue;
  color: #fff;
  letter-spacing: 1.5px;
}
.dropdown__menu-search::-moz-placeholder {
  color: #fff;
}
.dropdown__menu-search:-ms-input-placeholder {
  color: #fff;
}
.dropdown__menu-search::placeholder {
  color: #fff;
}
.dropdown__menu-item {
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #424242;
  font-size: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.dropdown__menu-item:last-child {
  margin-bottom: 0;
}
.dropdown__menu-item:hover {
  background-color: #185bd3;
  color: white;
}
.dropdown__menu-item.selected, .dropdown__menu-item.selected:hover {
  background-color: #4a0b85;
  color: #fff;
  letter-spacing: 1.5px;
}

.gallery__images .image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.gallery__images .image-list .image-box {
  position: relative;
  width: 350px;
  height: 200px;
  overflow: hidden;
}
.gallery__images .image-list .image-box .image-box__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.form {
  flex-basis: 70%;
}
.form .form__container {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.form .form__container .form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  gap: 10px 10px;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .form .form__container .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.form .form__container .form-content .single-item {
  width: 100%;
}
@media (max-width: 767.98px) {
  .form .form__container .form-content .single-item {
    margin-bottom: 10px;
  }
}
.form .form__container .form-content .single-item__name {
  grid-area: 1/1/2/2;
}
.form .form__container .form-content .single-item__surname {
  grid-area: 1/2/2/3;
}
.form .form__container .form-content .single-item__email {
  grid-area: 2/1/3/2;
}
.form .form__container .form-content .single-item__message {
  grid-area: 2/2/4/3;
}
.form .form__container .form-content .single-item label, .form .form__container .form-content .single-item input {
  display: block;
  width: 100%;
  min-width: 200px;
  height: 30px;
  padding: 5px;
}
.form .form__container .form-content .single-item label {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.6px;
  font-weight: 800;
}
.form .form__container .form-content .single-item input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 10px;
  letter-spacing: 1.6px;
  font-size: 13px;
  transition: 0.4s;
}
.form .form__container .form-content .single-item input::-moz-placeholder {
  color: #c2c2c2;
  font-family: "Open Sans", sans-serif;
}
.form .form__container .form-content .single-item input:-ms-input-placeholder {
  color: #c2c2c2;
  font-family: "Open Sans", sans-serif;
}
.form .form__container .form-content .single-item input::placeholder {
  color: #c2c2c2;
  font-family: "Open Sans", sans-serif;
}
.form .form__container .form-content .single-item input:hover {
  border-bottom: 2px solid black;
  background-color: rgba(255, 255, 255, 0.4);
}
.form .form__container .form-content .single-item input:hover::-moz-placeholder {
  color: #fff;
}
.form .form__container .form-content .single-item input:hover:-ms-input-placeholder {
  color: #fff;
}
.form .form__container .form-content .single-item input:hover::placeholder {
  color: #fff;
}
.form .form__container .form-content .single-item input:focus {
  border-bottom: 2px solid cornflowerblue;
  box-shadow: 1px 1px 1px 1px cornflowerblue;
  outline: none;
}
.form .form__container .form-content .single-item .message {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-width: 200px;
  min-height: 100px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: transparent;
  color: #fff;
  letter-spacing: 1.6px;
  transition: 0.4s;
  border: none;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
.form .form__container .form-content .single-item .message::-moz-placeholder {
  color: #c2c2c2;
}
.form .form__container .form-content .single-item .message:-ms-input-placeholder {
  color: #c2c2c2;
}
.form .form__container .form-content .single-item .message::placeholder {
  color: #c2c2c2;
}
.form .form__container .form-content .single-item .message:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.form .form__container .form-content .single-item .message:hover::-moz-placeholder {
  color: #fff;
}
.form .form__container .form-content .single-item .message:hover:-ms-input-placeholder {
  color: #fff;
}
.form .form__container .form-content .single-item .message:hover::placeholder {
  color: #fff;
}
.form .form__container .form-content .single-item .message:focus {
  box-shadow: 1px 1px 1px 1px cornflowerblue;
  border: none;
  outline: none;
  color: #fff;
}
.form .form__container .form-content .single-item .nameError, .form .form__container .form-content .single-item .surnameError, .form .form__container .form-content .single-item .emailError, .form .form__container .form-content .single-item .messageError {
  display: flex;
  align-items: center;
  transform: scale(0);
  height: 50px;
  width: 100%;
  background-color: #fff;
  color: crimson;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.6px;
}
.form .form__container .form-content .single-item .nameError.nameError-show, .form .form__container .form-content .single-item .surnameError.surnameError-show, .form .form__container .form-content .single-item .emailError.emailError-show, .form .form__container .form-content .single-item .messageError.messageError-show {
  transform: scale(1);
}
.form .form__container .form-content .form__btn-container {
  grid-area: 3/1/4/2;
}
.form .form__container .form-content .form__btn-container .form__btn-submit {
  width: 150px;
  height: 50px;
  background-color: black;
  border: 1px solid cornflowerblue;
  border-radius: 6px;
  color: cornflowerblue;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1.6px;
  cursor: pointer;
  transition: 0.4s;
}
.form .form__container .form-content .form__btn-container .form__btn-submit:hover {
  background-color: #1a1a1a;
  color: #fff;
}
.form .form__container .form-content .form__btn-container .form__btn-submit:focus {
  outline: none;
  border: none;
}
.form .form__container .form-content .form__btn-container .msg {
  display: none;
  height: 40px;
  width: 100%;
  color: green;
  margin: 40px auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1.6px;
}
.form .form__container .form-content .form__btn-container .msg.msg-show {
  display: block;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-image: url("../images/andromeda_1280.jpg");
  background-size: cover;
}
.contact .contact__main-title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: #424242;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
@media (max-width: 320px) {
  .contact .contact__main-title {
    font-size: 26px;
  }
}
.contact .contact__main-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  padding: 0 5%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
@media (max-width: 320px) {
  .contact .contact__main-subtitle {
    font-size: 18px;
  }
}
.contact .contact-wrapper {
  position: relative;
  display: flex;
  width: 80%;
  min-height: 280px;
  min-width: 260px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 10px;
  color: white;
  border: 1px solid cornflowerblue;
  box-shadow: 10px 0 33px 0 rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
@media (max-width: 1280px) {
  .contact .contact-wrapper {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .contact .contact-wrapper {
    width: 80%;
    flex-direction: column;
  }
}
.contact .contact-wrapper .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 200px;
  flex-basis: 30%;
  background-color: black;
  border-radius: 15px;
  padding: 40px;
}
@media (max-width: 1024px) {
  .contact .contact-wrapper .contact__info {
    align-items: center;
    padding: 25px;
  }
}
@media (max-width: 540px) {
  .contact .contact-wrapper .contact__info {
    align-items: flex-start;
    padding: 10px;
  }
}
.contact .contact-wrapper .contact__info .contact__info-title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: #424242;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  padding: 0;
  text-align: start;
}
.contact .contact-wrapper .contact__info .contact__info-description {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  padding: 0;
  text-align: start;
}
.contact .contact-wrapper .contact__info .contact__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact .contact-wrapper .contact__info .contact__info-item .info-item__icon {
  margin-right: 15px;
  font-size: 25px;
}
.contact .contact-wrapper .contact__info .contact__info-item .info-item__data {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.contact .contact-wrapper .contact__info .s-media {
  display: flex;
  align-items: center;
}
.contact .contact-wrapper .contact__info .s-media .social-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 20px;
  color: white;
  border-radius: 50%;
  background-color: transparent;
  width: 35px;
  height: 35px;
  transition: 0.4s;
}
.contact .contact-wrapper .contact__info .s-media .social-icon__link:hover {
  background-color: #333333;
  color: #fff;
}

.footer {
  display: block;
  min-height: calc(100vh - 80px);
  z-index: 2;
}
.footer .panels-wrapper {
  display: flex;
  min-height: calc(100vh - 160px);
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Orbitron", sans-serif;
  background-color: black;
  z-index: 2;
}
@media (max-width: 767.98px) {
  .footer .panels-wrapper {
    margin-bottom: 0;
  }
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper {
    flex-direction: column;
  }
}
.footer .panels-wrapper .panel__footer-menu {
  flex-basis: 40%;
  height: 100%;
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper .panel__footer-menu {
    flex-basis: 80%;
    margin-top: 40px;
  }
}
.footer .panels-wrapper .panel__footer-menu .footer-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper .panel__footer-menu .footer-menu__container {
    flex-basis: 80%;
  }
}
.footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item {
  margin-bottom: 20px;
  list-style: none;
  transition: 0.4s;
}
.footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item:hover {
  transform: scale(1.2);
}
.footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item .footer-menu__link {
  text-decoration: none;
  color: white;
  letter-spacing: 1.5px;
  font-size: 30px;
  transition: 0.4s;
}
.footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item .footer-menu__link:hover {
  color: cornflowerblue;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item .footer-menu__link {
    font-size: 50px;
  }
}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item .footer-menu__link {
    font-size: 50px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item .footer-menu__link {
    font-size: 50px;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item .footer-menu__link {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item .footer-menu__link {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper .panel__footer-menu .footer-menu__container .footer-menu__item .footer-menu__link {
    font-size: 30px;
  }
}
.footer .panels-wrapper .panel__social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  height: 100%;
  border-radius: 4px;
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper .panel__social-media {
    flex-basis: 80%;
  }
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper .panel__social-media {
    align-items: flex-start;
    margin-top: 40px;
  }
}
.footer .panels-wrapper .panel__social-media .icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper .panel__social-media .icons-container {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
  }
}
.footer .panels-wrapper .panel__social-media .icons-container .icon__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style: none;
  color: white;
  margin-bottom: 15px;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item {
    margin-bottom: 35px;
  }
}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item {
    margin-bottom: 35px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item {
    margin-bottom: 35px;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item {
    margin-bottom: 35px;
  }
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item {
    flex-basis: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
@media (max-width: 340px) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item {
    flex-basis: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
}
.footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: 0.4s;
}
.footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link:hover {
  transform: scale(1.2);
}
.footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .icon-facebook {
  color: #1f1fc2;
}
.footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .icon-twitter {
  color: #0077ff;
}
.footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .icon-linkedin {
  color: cornflowerblue;
}
.footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .icon-instagram {
  color: #f30de8;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link {
    font-size: 50px;
  }
}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link {
    font-size: 50px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link {
    font-size: 50px;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link {
    font-size: 50px;
  }
}
.footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .social-name {
  margin-left: 20px;
  font-size: 15px;
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .social-name {
    font-size: 30px;
  }
}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .social-name {
    font-size: 30px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .social-name {
    font-size: 30px;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .social-name {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  .footer .panels-wrapper .panel__social-media .icons-container .icon__item .icon__link .social-name {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.footer .footer-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: cornflowerblue;
}
.footer .footer-down .footer-down__title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .footer .footer-down .footer-down__title {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */