@import "../variables";
@import "../mixins";

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    transform: scale(1.1);
  }
  &:visited {
    color: $primary-font-color;
  }
  .back-icon {
    font-size: 30px;
    color: $primary-font-color;
    margin-right: 20px;
  }
  .back-text {
    font-family: $primary-font-family;
    font-size: $font-size-large / 2;
    text-align: center;
  }
}
